@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>İletişim Bilgisi Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" asp-for="ContactId" class="form-control" />
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control" />
    <br />
    <label>E-Mail</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <label>Resim</label>
    <textarea type="text" asp-for="MapUrl" class="form-control" rows="4"></textarea>
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>
</form>