@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkımızda Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" asp-for="AboutId" />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea type="text" asp-for="Description" class="form-control" rows="4"> </textarea>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>

