@model List<Album>

<!-- ***** Weeks Top ***** -->
<div class="col-12 col-lg-4">
	<div class="weeks-top-area mb-100">
		<div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
			<p>Yeni Eklenenler</p>
			<h2>Son Eklenen Albümler</h2>
		</div>
		@foreach (var item in Model)
		{
			<!-- Single Top Item -->
			<div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
				<div class="thumbnail">
					<img style="width:75px; height:75px;" src="@item.CoverImage" alt="">
				</div>
				<div class="content-">
					<h6>@item.AlbumName</h6>
					<p>@item.AppUser.Name @item.AppUser.Surname</p>
				</div>
			</div>
		}
	</div>
</div>