
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- ##### Hero Area Start ##### -->
@await Component.InvokeAsync("_DefaultBannerComponent")
<!-- ##### Hero Area End ##### -->
<!-- ##### Latest Albums Area Start ##### -->
@await Component.InvokeAsync("_DefaultAlbumComponent")
<!-- ##### Latest Albums Area End ##### -->
<!-- ##### Buy Now Area Start ##### -->
@await Component.InvokeAsync("_DefaultAlbumListComponent")
<!-- ##### Buy Now Area End ##### -->
<!-- ##### Featured Artist Area Start ##### -->
@await Component.InvokeAsync("_DefaultSongComponent")
<!-- ##### Featured Artist Area End ##### -->
<!-- ##### Miscellaneous Area Start ##### -->
<section class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_DefaultTopAlbumComponent")

            @await Component.InvokeAsync("_DefaultNewHitsComponent")

            @await Component.InvokeAsync("_DefaultPopulerArtistComponent")
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->
<!-- ##### Contact Area Start ##### -->
@await Component.InvokeAsync("_DefaultMessageComponent")
<!-- ##### Contact Area End ##### -->
