
<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">İşlemler</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Default/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAbout/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">Hakkımızda</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Artists/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">Sanatçılar</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/Role/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">Roller</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/RoleAssign/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">Rol Atama</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAlbum/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">Albümler</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminContact/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-square"></i>
                </span>
                <span class="hide-menu">İletişim</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminMessage/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-message"></i>
                </span>
                <span class="hide-menu">Mesajlar</span>
            </a>
        </li>

    </ul>
    <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
        <div class="d-flex">
            <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
            </div>
            <div class="unlimited-access-img">
                <img src="~/Modernize-1.0.0/src/assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</nav>
