
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>Bize Ulaşın</p>
        <h2>İLETİŞİM</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
@await Component.InvokeAsync("_DefaultContactComponent")
<!-- ##### Contact Area End ##### -->
@await Component.InvokeAsync("_DefaultMessageComponent")