@model List<Album>


<section class="latest-albums-area section-padding-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading style-2">
					<p>En Yeni Albümleri Keşfedin</p>
					<h2>Son Eklenen Albümler</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-9">
				<div class="ablums-text text-center mb-70">
					<p>Sitemizde her tür müziğe erişebilirsiniz. Son eklenenler için alttaki albümleri inceleyebilirsiniz. </p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="albums-slideshow owl-carousel">
					<!-- Single Album -->
					@foreach (var item in Model)
					{
						<div class="single-album">
							<img src="@item.CoverImage" alt="">
							<div class="album-info">
								<a href="#">
									<h5>@item.AppUser.Name @item.AppUser.Surname</h5>
								</a>
								<p>@item.AlbumName</p>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</section>