@model List<Album>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Index.cshtml";
}


<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/one-music-gh-pages/img/bg-img/breadcumb3.jpg);">
	<div class="bradcumbContent">
		
		<h2>Albümler</h2>

	</div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Album Catagory Area Start ##### -->
<section class="album-catagory section-padding-100-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
					@await Html.PartialAsync("FilterAlbums")
				</div>
			</div>
		</div>
	
		<div class="row oneMusic-albums">
			@foreach (var item in Model)
			{



				<!-- Single Album -->
				<div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
					<div class="single-album">
						<img src="@item.CoverImage" alt="">
						<div class="album-info">
							<a href="#">
								<h5>@item.AppUser.Name @item.AppUser.Surname</h5>
							</a>
							<p>@item.AlbumName</p>
						</div>
					</div>
				</div>
			}

		</div>
	
	</div>
</section>


