@model List<Song>

<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(img/bg-img/bg-4.jpg);">
	<div class="container">
		@foreach (var item in Model)
		{
			<div class="row align-items-end">
				<div class="col-12 col-md-5 col-lg-4">
					<div class="featured-artist-thumb">
						<img src="@item.Album.CoverImage" alt="">
					</div>
				</div>
				<div class="col-12 col-md-7 col-lg-8">
					<div class="featured-artist-content">
						<!-- Section Heading -->
						<div class="section-heading white text-left mb-35">
							<h2>Son Eklenen Şarkı</h2>
						</div>
						<div class="section-heading white text-left mb-40">
							<p>@item.Album.AlbumName</p>
						</div>
						
						<div class="song-play-area">
							<div class="song-name">
								<p>@item.SongName</p>
							</div>
							<audio preload="auto" controls>
								<source src="@item.SongUrl">
							</audio>
						</div>
					</div>
				</div>
			</div>

		}


	</div>
</section>