@model List<Banner>

<section class="hero-area">
	<div class="hero-slides owl-carousel">
		<!-- Single Hero Slide -->
		@foreach (var item in Model)
		{
			<div class="single-hero-slide d-flex align-items-center justify-content-center">
				<!-- Slide Img -->
				<div class="slide-img bg-img" style="background-image: url(@item.ImageUrl);"></div>
				<!-- Slide Content -->
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="hero-slides-content text-center">
								<h6 data-animation="fadeInUp" data-delay="100ms">@item.Title</h6>
								<h2 data-animation="fadeInUp" data-delay="300ms">@item.SubTitle <span>@item.SubTitle</span></h2>
								<a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Keşfet <i class="fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}



	</div>
</section>