@model Singer
@{
    ViewData["Title"] = "UpdateSinger";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Şarkıcı Bilgileri Güncelleme Sayfası</h3>
<form method="post">
    <input type="hidden" asp-for="SingerId" />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Şarkıcı Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
