@model AppRole
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Rol Ekleme Sayfası</h3>

<form method="post">
	<label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

